@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Pol Sheets Index</h2>

<div id="MainPolIndex">
    @{ using (Html.BeginForm("cmdmakepolsheet_Click", "PolSheet", FormMethod.Post))
     {
        <input type="date" class="dateInput" id="startDate" name="startDate" min="2015-08-27" />
        <input type="time" class="timeInput" id="startTime" name="startTime" /><br/>

        <div class="prep_notes_checkbox">
            <input type="checkbox" name="CheckPrepNotes" value="CheckPrepNotes" id="prepNotes" /><span id="checkPolSpan">Check Prep Notes</span>
        </div>


         <input type="submit" value="Generate Pol Sheet" id="polButton" />
     }
    }
</div>

@section scripts {
    @Scripts.Render("~/Content/Scripts/pol.js")
}
