@{
    ViewBag.Title = "HighestPnPSpend";
}

<h2 class="h2_highestPPspend">Customers with Highest P&P Spend</h2>
<div style="clear: both;"></div>


    <div id="select_pos">Up to @Html.DropDownList("HowManyPeople") Customers for the last</div>
    <div id="select_pos_2">@Html.DropDownList("HowManyMonths") Months</div>
    <br/>
    <br />
<div class="highest_pp_btn">
    <button class="generateButton_highpp" id="GenerateButtonhighpp" onclick="GeneratePnPReport()">Generate Report</button>
</div>
    <br />
    <br />
    <br />
    <div id="CustomersToMakeSavingDiv"></div>
    <div id="TableArea">
        <div id="table-scroll">
            <table id="DisplayTable"></table>
        </div>
        </div>
    <br />
    <br />

@section scripts {
    @Scripts.Render("~/Content/Scripts/Reports.js")
}
