@{
    if (@ViewContext.ViewData.ModelState.IsValid)
    {
        ViewBag.Title = "Reports";
    }
}

<img src="~/Content/Images/firefox.jpg" />
If you wish to download any of these reports to Excel please use Firefox as it allows the creation of larger Excel files, if you do not have Firefox installed on your PC 
please email <a href="mailto:it@hochanda.com?Subject=Firefox%20Installation%20Required" target="_top">it@hochanda.com</a> alternatively call extension 6180 or 6181


<h2>Reports by department</h2>
<div id="DivContainer1" class="HiddenDiv" >
    <h3>Buyers Reports</h3>
    <div id="Div1"></div>
</div>

<div id="DivContainer2" class="HiddenDiv" >
    <h3>Finance Reports</h3>
    <div id="Div2"></div>
</div>

<div id="DivContainer3" class="HiddenDiv" >
    <h3>Directors Reports</h3>
    <div id="Div3"></div>
</div>

<div id="DivContainer4" class="HiddenDiv" >
    <h3>Customers Reports</h3>
    <div id="Div4"></div>
</div>

<div id="DivContainer5" class="HiddenDiv" >
    <h3>Marketing Reports</h3>
    <div id="Div5"></div>
</div>


@section scripts {
    @Scripts.Render("~/Content/Scripts/ReportsIndex.js")
}