@{

if (@ViewContext.ViewData.ModelState.IsValid)

{

ViewBag.Title = "Reports";

}

}

<h2>@ViewBag.Title</h2>

<img src="~/Content/Images/firefox.jpg" />
If you wish to download any of these reports to Excel please use Firefox as it allows the creation of larger Excel files, if you do not have Firefox installed on your PC 
please email <a href="mailto:it@hochanda.com?Subject=Firefox%20Installation%20Required" target="_top">it@hochanda.com</a> alternatively call extension 6180 or 6181

<h3>Please Select a Department</h3>
@using (Html.BeginForm("ReportsByDepartment", "Reporting"))
{
    @Html.DropDownList("ReportsAvailable")
    
    <input class="button" id="submit LogInButton" type="submit" value="Go to Reports" />
}
