@{
    ViewBag.Title = "PromotionalFreedomPnPSavings";
}

<h2 class="promo_freedom_title">Promotional Freedom P&P Savings</h2>

<div style="clear: both;"></div>

<div class="promo_freedom_dateselect">
    <input type="date" class="dateInput" id="startDate" name="startDate" min="2015-08-27" value="@ViewBag.TodaysDate">
    <input type="date" class="dateInput" id="endDate" name="endDate" min="2015-08-27" value="@ViewBag.TodaysDate">
</div>
<br />
<br />
   <div class="Currency_pos">
    @Html.DropDownList("CurrencyType")
    </div>
    <br />
    <br />
    <div class="promo_freedom_btn">
    <button class="generateButton_salesoverview" id="GenerateButton" onclick="GeneratePromotionalFreedomPnPSavings()">Generate Report</button>
     </div>
    <br />
    <div class="InvisibleDiv" id="LoadingDiv">
        <img src="~/Content/Images/ajax-loader.gif" />
    </div>
    <br />
    <div id="TableArea">
        <table id="DisplayTable"></table>
    </div>

    @section scripts {
        @Scripts.Render("~/Content/Scripts/Reports.js")
    }
