#body {
    padding: 0px;
}

div#MainDivLogin {
    padding: 10px;
}

#LogInDiv {
    background-color: #eee;
    max-width: 300px;
    margin: 100px auto 0 auto;
    padding: 4px 20px 20px 20px;
    border: 1px solid #ccc;
}

input[type="submit"] {
    width: 100%;
    color: #fff;
    text-align: center;
    margin: 20px 0 0 0;
    font: 16px Arial;
    text-transform: capitalize;
    padding: 0;
    background: green;
    line-height: 40px;
    display: inline-block;
    border: 1px solid transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

input#UserNameBox,
input#PasswordBox {
    width: 100%;
    background-color: #f9f9f9;
    height: 40px;
    margin-bottom: 8px;
    font: 14px Tahoma, Geneva, sans-serif;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    border-radius: 2px;
    border: 1px solid #ccc;
    text-indent: 5px;
    padding: 0;
    line-height: 40px;
}

div#ErrorDiv {
    background-color: red;
    color: #ffffff;
    padding: 10px;
    margin: 10px auto 10px auto;
    text-align: center;
}