@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

@Html.Raw(ViewBag.HtmlStr)

<div id="LogInDiv">
    @using (Html.BeginForm("AttemptLogOn", "LogOn"))
    {
        <div class="LogInControllDiv">
        <span class="tagSpan">Username:</span>
        <input type="text" name="username" id="UserNameBox" class="LogInBox">
    </div>
    
    <div class="LogInControllDiv">
        <span class="tagSpan">Password:</span>
        <input type="password" name="password" id="PasswordBox" class="LogInBox">
    </div>

    <input class="button" id="submit LogInButton" type="submit" value="Login" />
    }
</div>


