@{

if (@ViewContext.ViewData.ModelState.IsValid)

{

ViewBag.Title = "Rapid Reports";

}

}

<h2>@ViewBag.Title</h2>

<h3>Please Select a Department</h3>
@using (Html.BeginForm("ReportsByDepartment", "Reporting"))
{
    @Html.DropDownList("ReportsAvailable")
    
    <input class="button" id="submit LogInButton" type="submit" value="Go to Reports" />
}
