@{
    ViewBag.Title = "HeaderAdvertCarousel";
}

<h2>Header Advert Carousel</h2> 

<p><button id="modal_open">Create New Carousel Item</button></p>

<div id="modal_wrapper">
    <div id="modal_window">

        <div style="text-align: right;"><a id="modal_close" href="#">close <b>X</b></a></div>

        <p>Complete the form below to send an email:</p>

        <form id="modal_feedback" method="POST" action="#" accept-charset="UTF-8">
            <p>
                <label>
                    Alt text <strong>*</strong><br>
                    <input type="text" size="48" name="AltText" value="" id="NewAltText">
                </label>
            </p>
            <p>
                <label>
                    Display Order <strong>*</strong><br>
                </label>
                <div id="NewViewOrderDiv"></div>
            </p>
            <p>
                <label>
                    Display Start Date<br>
                    <input type="date"  name="StartDate" value="" id="NewStartDate">
                    <input type="time" name="StartTime" value="" id="NewStartTime">
                </label>
            </p>
            <p>
                <label>
                    Display End Date <br>
                    <input type="date" name="EndDate" value="" id="NewEndDate">
                    <input type="time" name="EndTime" value="" id="NewEndTime">
                </label>
            </p>
            <p><input type="button" value="Save" onclick="SaveNewCarouselItem()"></p>
        </form>

    </div> <!-- #modal_window -->
</div> <!-- #modal_wrapper -->


<div id="MainInfoDiv">
   <div class="HiddenDiv" id="dropdownNumbers"></div> 
     
</div>

@section scripts {
    @Scripts.Render("~/Content/Scripts/HeaderAdvertCarousel.js")
}