@{
    ViewBag.Title = "MetaData Saved";
}

<h2>Metadata Input</h2>

<p>That Metadata has been saved</p>

<button class="btn btn-info" type="button" id="MetadataButton" onclick="location.href='@Url.Action("CMS", "MetaDataInput")'>