@{
    ViewBag.Title = "Index";
}

<h2>TV Services</h2>




@Html.ActionLink("Pol Sheets", "index", "polsheet", null, new { @class = "generateButton" })
@Html.ActionLink("Show Minutes", "Minutes", "Tv", null, new { @class = "generateButton" })
@Html.ActionLink("Random Order Generator", "RandomOrderGenerator", "Reporting", null, new { @class = "generateButton" })