

td:nth-child(4), td:nth-child(5), td:nth-child(21), td:nth-child(22)  {  
    text-align: center;
}

td:nth-child(3), td:nth-child(6) {
    text-align: left;
}

td:nth-child(8), td:nth-child(9), td:nth-child(10), td:nth-child(11), td:nth-child(12), 
td:nth-child(13), td:nth-child(14), td:nth-child(15), td:nth-child(16), td:nth-child(17), 
td:nth-child(18), td:nth-child(19), td:nth-child(20) {
    text-align: right
}

.RedCell {
    background-color: #ff0000;
}

/*Makes report boring*/

tr {
    background-color: #ffffff !important;
}

tr:nth-child(1) {
    background: #ED137D!important;
    color: #FFF!important;
    font-weight: bold!important;
}

/*Makes report boring*/