input[type="submit"] {
    width: 100%;
    color: #fff;
    text-align: center;
    margin: 20px 0 0 0;
    font: 12px Arial;
    text-transform: uppercase;
    line-height: 18px;
    padding: 8px;
    background: #ed137d;
    border: none;
}

div#LogInDiv {
    margin-top: 30%;
    border: 1px solid #C9C9C9;
    background-color: #E8E8E8;
    padding: 3%;
    width: inherit;
}

.LogInControllDiv {
    width: 100%;
}

input#UserNameBox, input#PasswordBox {
    width: 95%;
}

span.tagSpan {
    margin: 0 auto;
    width: 85px;
}

.LogInControllDiv {
    margin-top: 5%;
}