@{
    ViewBag.Title = "Customer Service";
}

<h2>@ViewBag.Title</h2>

<input class="button" id="submit LogInButton" value="Confirmation Email" onclick="location.href='@Url.Action("ResendComformation", "CustomerService")'">